section {
	border-radius: 10px;
	border: 2px solid #2960ea;
	background: #052165;
	box-shadow: 0 4px 6px #00000040;
	display: flex;
	padding: 10px;
	margin: 0 10px;
}

.rounded-badge {
	padding: 0.4rem 0.6rem;
	border-radius: 50%;
	cursor: pointer;
}

.bg-critical {
	background-color: #f21212;
}
.bg-major {
	background-color: #f49a10;
}
.bg-minor {
	background-color: #fde046;
}
.bg-warnings {
	background-color: #3f70f0;
}
.bg-all {
	background-color: #27a100;
}
