@font-face {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   src: url("../../../assets/fonts/roboto-regular.woff2") format("woff2");
}

@font-face {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 500;
   src:
      url("../../../assets/fonts/roboto-medium.woff2") format("woff2"),
      url("../../../assets/fonts/roboto-medium.woff") format("woff");
}

$font-family: "Roboto", sans-serif;
$body-light-bg: #cccccc;
$body-dark-bg: #0a192f;
$font-size-base: 1rem;
