.animated {
   animation-duration: 1s;
   // animation-fill-mode: both;
}

.animated.infinite {
   animation-iteration-count: infinite;
}

.animated.hinge {
   animation-duration: 8s;
}

.fadeIn {
   animation-name: fadeIn;
}

.blink {
   &-text {
      animation: blinking 1.3s step-end infinite;
   }
   &-gradient-text {
      font-weight: bold;
      color: transparent;
      background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      animation: blinking 1.3s step-end infinite;
   }
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes blinking {
   0%,
   100% {
      opacity: 1;
   }
   50% {
      opacity: 0;
   }
}
