.navbar {
   background-color: $navbar-bg;
   padding: 0;
   & > ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      list-style: none;
      & li.nav-item:not(:last-child) {
         border-right: 1px solid #415891;
         padding: 18px;
      }
   }
   &-menu {
      padding-right: 10px;
   }
   &-logo {
      color: $navbar-text;
      width: 270px;
   }
   &-brand {
      color: $navbar-text;
      letter-spacing: 1.5px;
      font-size: 1.25rem;
      font-weight: 500;
      padding-left: 10px;
      &:hover {
         color: $navbar-text;
      }
   }
   &-profile {
      margin: 0 1.7rem 0 0.5rem;
   }
   &-collapse {
      display: flex;
      flex-wrap: wrap;
   }
}
.secondary-nav {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   background-color: #030f20;
   padding: 0 22px;
   border-bottom: 1px solid #282f41;
}

.dropdown {
   &-menu {
      & > h6 {
         font-size: 1rem;
         font-weight: 500;
         padding: 0.25rem 1rem;
         margin: 0;
      }
      & > small {
         padding: 0.25rem 1rem;
      }
   }
   &-item {
      &.active,
      &:active,
      &:hover {
         background-color: #20a8d8;
         color: #fff;
      }
   }
}

.dropdown-toggle::after {
   content: none;
   display: none;
}

.dropdown-submenu {
   position: relative;
}

.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu:focus .dropdown-menu {
   display: block;
   flex-direction: column;
   position: absolute !important;
   margin-top: -30px;
   left: 100%;
   width: auto;
}

@media (max-width: 992px) {
   .dropdown-menu {
      width: 50%;
   }
   .dropdown-menu .dropdown-submenu {
      width: auto;
   }
   .dropdown-item {
      overflow: hidden;
      text-overflow: ellipsis;
   }
}

@media (max-width: 799px) {
   .logo {
      display: none;
   }
}
